.elements__delete-button {
  margin: 0;
  background-image: url(../../../images/button-delate.svg);
  position: absolute;
  top: 13px;
  right: 15px;
  z-index: 1;
  padding: 15px;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 0;
}

.elements__delete-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.elements__delete-button:focus {
  outline: none;
  opacity: 0.8;
}
