.popup__container {
  max-width: 430px;
  width: 100%;
  padding-left: 19px;
  padding-right: 19px;
}

@media screen and (max-width: 430px) {
  .popup__container {
    width: calc(100% - 38px);
  }
}
