.profile {
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  padding-bottom: 51px;
  padding: 45px 200px;
}

@media screen and (max-width: 768px) {
  .profile{
    /* align-items: center; */
    flex-direction: column;
  }
}
