.popup__close {
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-image: url("../../../images/CloseIcon.svg");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  position: absolute;
  top: calc(100% / 2 - 205px);
  align-self: flex-end;
  margin-right: -40px;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 542px) {
  .popup__close {
    top: calc(100% / 2 - 198px);
    margin-right: 0;
    margin-bottom: 16px;
    width: 20px;
    height: 20px;
  }
}
