.profile__avatar-image {
  width: 120px;
  height: 120px;
  background-image: url(../../../images/Ellipse.png);
  border-radius: 50%;
  background-size: 50%, contain;
  background-repeat: no-repeat;
  background-position: 50%;
  object-fit: cover;
}

@media screen and (max-width: 1279px) {
  .profile__avatar-image {
    margin-bottom: 26px;
  }
}

