.profile__info {
  display: grid;
  grid-template-columns: 2fr 24px;
  align-items: center;
  column-gap: 17px;
  row-gap: 8px;
  margin-left: 30px;
  padding: 0;
  max-width: 336px;
}

@media screen and (max-width: 1279px) {
  .profile__info {
    grid-template-columns: 1fr 18px;
    column-gap: 7px;
    row-gap: 6px;
    margin-right: 0;
    max-width: 282px;
  }
}
